.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    min-height: 100vh;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    box-sizing: border-box;
}

.board > div {
    background-color: bisque;
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
    
}

.cell {
    width: 50px;
    height: 50px;
}

button {
    margin-top: 50px;
    max-width: 125px;
    align-self: center;
}

.ship {
    background-color: #999; 
}